[submodule "glad"]
    path = glad
    url = https://github.com/Dav1dde/glad.git
    branch = master

[submodule "stb"]
    path = stb
    url = https://github.com/nothings/stb.git
    branch = master